{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="card my-4">
            <div class="card-header">
                <h2>Edit a HTML post</h2>
            </div>
            <div class="card-body">
                {% load crispy_forms_tags %}
                {% crispy form %}
            </div>
            <div id="files" class="card-footer">
                <ul>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <img class="card-img-top" src="//placehold.it/700x400" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <img class="card-img-top" src="//placehold.it/700x400" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <img class="card-img-top" src="//placehold.it/700x400" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <img class="card-img-top" src="//placehold.it/700x400" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/summernote/summernote-bs4.css" %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.fileupload.js' %}"></script>
    <script src="{% static 'js/csrf-cookie.js' %}"></script>
    <script src="{% static "js/summernote/summernote-bs4.js" %}"></script>
    <script src="{% static "js/post-summernote-upload.js" %}"></script>
{% endblock %}